/*-----------------TEXTE--------------------------------------------------------------------------------------------- */

.para-container {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    margin-top: 130px;
    width: 100%;
    text-align: justify;

}

.para-container h1 {

    font-size: 150%;
    height: 50px;
}

.para-container .para_2 {

    padding-top: 10px;
    font-size: 15px;
    
}

.para-container .texte{

    grid-column-start: 2;
    grid-column-end: 3;
    padding: 40px;
    padding-top: 20%;
}

.texte h1::first-letter{

    color: #E31D1D;
    


}






/*-----------------BOUTTON DOWNLOAD--------------------------------------------------------------------------------------------- */

.submit button {

    width: 150px;
    height: 30px;
    border-radius: 3px;
    border: none;
    background-color:#162647;
    font-weight: bold;
    font-size: 1em;
    margin-top: 30px;
    cursor: pointer;
    transition: .5s;
    color: white;
    
}

.submit button:hover {

    transition: .5s;
    background-color: #E31D1D;
    transform: translateY(-5px);

}


/*-----------------IMAGE--------------------------------------------------------------------------------------------- */

.snap img {
    

    width: 290px;
    margin-left: 130px;
    padding-top: 10%;

}


/*-----------------RESPONSIVE--------------------------------------------------------------------------------------------- */

@media screen and (max-width: 640px) {

    
    .para-container {

        display: flex;
        flex-direction: column ;
        justify-content: center;
        align-items: center;
        margin-top: -1em;      

    }   

    .snap{

        display: none;
    }
}
    
