body {

    background-color: #1B2D53;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    filter: drop-shadow(5px 5px 10px black);

}

.Mentions_legales {

    margin: 2em;
    padding: 1em;

}

h3 {

    color: burlywood;
}

p {

    color: white;
}

/*-----------------Header--------------------------------------------------------------------------------------------- */

nav {
    background: #162647;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

 nav .mainMenu {
    display: flex;
    list-style: none;
    font-size: 0;
    padding: 0;
    margin: 10px;
    border-radius: 3px;

}

nav .mainMenu li a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    padding: 7px 20px;
    transition: 0.2s ease;

    
  }

nav .mainMenu li a:hover {
    background: rgb(208, 164, 106);
}


.mainMenu, .red:active {
    
    background: burlywood;
    transition: .5s;

}


/*-----------------LOGO TV.--------------------------------------------------------------------------------------------- */

.navbar__logo {
    
    color: white;
    font-size: 20px;
    line-height: 60px;
    padding: 0 100px;
    font-weight: bold;
}

.navbar__logo::first-letter {

    color: burlywood;

}

/*-----------------LISTE--------------------------------------------------------------------------------------------- */

.liste ul{ 
    
    color: white; 

    }

.liste li a {

    text-decoration: none;
    outline: none;
    color: white;
    pointer-events: none;

}

@media screen and (max-width: 640px) {
    
    nav {  
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        
   
    
    }

    nav .mainMenu {

        margin-top: -10px;

    }
    

}