
/*-----------------Contenue entier--------------------------------------------------------------------------------------------- */

.wrapper {
    
    display: grid;
    /* grid-template-columns: repeat(3, 1fr 1fr); */
    grid-template-columns: repeat(3, minmax(0, 1fr));
    color: white;

}

/*-----------------TEXET--------------------------------------------------------------------------------------------- */

.parag {

    text-align: center;

}

.parag h2{

    text-align: center;
}

/*-----------------Image--------------------------------------------------------------------------------------------- */

.wrapper .image {

    padding: 58px;
    text-align: center;

}

.wrapper img {
   
    height: 200px;
    width: 300px;

}


/*-----------------FOOTER--------------------------------------------------------------------------------------------- */

.foot {

    color: white;
    padding: 1rem;
    background-color: #1B2D53;
    text-align: center;
    font-size: 12px;


}


footer {

    position: fixed;
    position:absolute;
    bottom: 0;
    width: 100%;


}

/*-----------------MENTIONS LEGALES--------------------------------------------------------------------------------------------- */

.mention {

    color: white;
    text-decoration: none;
    transition: 0.5s;

}


@media (max-width: 1024px) {

    .wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    
    
}
}

@media (max-width: 640px) {

    .wrapper {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    
}
}